<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.project.dao.AirportDAO">

  <select id="selectAirportList" resultType="kr.kh.project.vo.AirportVO">
    select * from airport where ai_state = true order by ai_name asc
  </select>

  <!-- 공항 추가 -->
  <insert id="insertAirport">
    INSERT INTO airport (ai_num, ai_name, ai_na_name, ai_standard_time, ai_standard_type)
    VALUES (#{airportvo.ai_num}, #{airportvo.ai_name}, #{airportvo.ai_na_name}, #{airportvo.ai_standard_time}, #{airportvo.ai_standard_type});
  </insert>

  
  <select id="getAirportByAiNameAndAiNaName" resultType="kr.kh.project.vo.AirportVO">
    SELECT * FROM airport WHERE ai_name = #{aiName} AND ai_na_name = #{aiNaName}
  </select>
  
  
  <select id="getAirportByNumber" resultType="kr.kh.project.vo.AirportVO">
    SELECT * FROM airport WHERE ai_num = #{ai_num}
  </select>
  
  
  <select id="getAirportByRoute" resultType="kr.kh.project.vo.AirportVO">
  	select
	    ai_name,
	    ai_num,
	    ai_na_name
	from
		airport
			join
		route on if(#{route}, ro_ai_start,ro_ai_end) = ai_num
			join
		nation on ai_na_name = na_name
			join
		division on na_di_name = di_name
	where
		ro_ai_start= if(#{route}, airport.ai_num, #{ai_num}) and ai_state = true 
	group by
		if(#{route}, ro_ai_start, ro_ai_end)
	order by
		di_name asc, na_name asc, ai_name asc
  </select>
  <select id="getAirportList" resultType="kr.kh.project.vo.AirportVO">
  	select
		ai_name,
		ai_num,
		ai_na_name
	from
		airport
	where
		ai_state = true
	order by
		ai_name asc
  </select>
	<select id="getAirportByNotRoute" resultType="kr.kh.project.vo.AirportVO">
  	select
		ai_name,
		ai_num,
		ai_na_name
	from
		airport
			left join
		route on ai_num = ro_ai_end
			join
		nation on ai_na_name = na_name
			join
		division on na_di_name = di_name
	where
		(ro_ai_start != #{ai_num} or ro_ai_start is null)
	    and ai_num != #{ai_num}
	    and ai_state = true
	group by
		ai_num
	order by
		di_name asc, na_name asc, ai_name asc
  </select>
  <update id="deleteAirport">
  	update airport
  	set
  		ai_state = false
  	where
  		ai_num = #{ai_num}
  </update>
</mapper>
