<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.project.dao.NationDAO">
	<select id="getNationByRoute" resultType="kr.kh.project.vo.NationVO">
		select
		    na_name,
		    na_di_name
		from
			airport
				join
			route on if(#{route}, ro_ai_start,ro_ai_end) = ai_num
				join
			nation on ai_na_name = na_name
				join
			division on na_di_name = di_name
		where
			ro_ai_start= if(#{route}, airport.ai_num, #{ai_num}) 
		group by
			na_name
		order by
			di_name asc, na_name asc, ai_name asc
	</select>
	<select id="getDivisionByRoute" resultType="kr.kh.project.vo.DivisionVO">
		select
		    di_name
		from
			airport
				join
			route on if(#{route}, ro_ai_start,ro_ai_end) = ai_num
				join
			nation on ai_na_name = na_name
				join
			division on na_di_name = di_name
		where
			ro_ai_start= if(#{route}, airport.ai_num, #{ai_num}) 
		group by
			di_name
		order by
			di_name asc, na_name asc, ai_name asc
	</select>
	<select id="getNation" resultType="kr.kh.project.vo.NationVO">
		select
		    na_name,
		    na_di_name
		from
			airport
				join
			nation on ai_na_name = na_name
				join
			division on na_di_name = di_name
		group by
			na_name
		order by
			di_name asc, na_name asc, ai_name asc
	</select>
	<select id="getDivision" resultType="kr.kh.project.vo.DivisionVO">
		select
		    di_name
		from
			nation
				join
			division on na_di_name = di_name
		group by
			di_name
		order by
			di_name asc, na_name asc
	</select>
	<select id="getNationByNotRoute" resultType="kr.kh.project.vo.NationVO">
		select
			 na_name,
			 na_di_name
		from
			airport
				left join
			route on ai_num = ro_ai_end
				join
			nation on ai_na_name = na_name
				join
			division on na_di_name = di_name
		where
			(ro_ai_start != #{ai_num} or ro_ai_start is null)
		    and ai_num != #{ai_num}
		    and ai_state = true
		group by
			na_name
		order by
			di_name asc, na_name asc, ai_name asc
	</select>
	<select id="getDivisionByNotRoute" resultType="kr.kh.project.vo.DivisionVO">
		select
			di_name
		from
			airport
				left join
			route on ai_num = ro_ai_end
				join
			nation on ai_na_name = na_name
				join
			division on na_di_name = di_name
		where
			(ro_ai_start != #{ai_num} or ro_ai_start is null)
		    and ai_num != #{ai_num}
		    and ai_state = true
		group by
			di_name
		order by
			di_name asc, na_name asc, ai_name asc
	</select>
</mapper>
