<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.project.dao.PointHistoryDAO">
	<insert id="insertPointHistory">
		insert into point_history(ph_po_num, ph_ti_num, ph_detail)
		values
			(#{po_num}, #{ti_num}, "사용"),
			(#{po_num}, #{ti_num}, "적립")
	</insert>
	<select id="selectPotinHistoryList" resultType="kr.kh.project.vo.PointHistoryVO">
		select * from point_history join ticketing on ph_ti_num = ti_num where ph_ti_num = #{ti_num} and ti_state != "예매취소"
	</select>
	<delete id="deletePointHistoryList">
		delete from point_history where ph_num = #{ph_num}
	</delete>
	<select id="selectPotinHistoryListByID" resultType="kr.kh.project.vo.PointHistoryVO">
		select
			point_history.*,
            ticketing.ti_save_point,
            ticketing.ti_use_point,
            ticketing.ti_state
		from
			point_history
				join
			ticketing on ph_ti_num = ti_num
		where
			ti_me_id = #{me_id} and ti_state != "예매취소"
		order by
			ph_num asc
	</select>
	<select id="countByMeID" resultType="int">
		select
			count(*)
		from
			point_history
				join
			ticketing on ph_ti_num = ti_num
		where
			ti_me_id = #{me_id}
			
	</select>
</mapper>
