<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.project.dao.PointDAO">
	<select id="selectPointByID" resultType="kr.kh.project.vo.PointVO">
		select * from point where po_me_id = #{me_id}
	</select>
	<update id="checkPoint">
		update point
		set
		    po_accumulate_point = ifnull((
					select
					sum(ti_save_point)
				from
					ticketing
				where
					ti_me_id = #{me_id} and ti_state != "예매취소"
				),0),
			po_hold_point = ifnull((
				select
					sum(ti_save_point) - sum(ti_use_point)
				from
					ticketing
				where
					ti_me_id = #{me_id} and ti_state != "예매취소"
				),0)
		where
			po_me_id = #{me_id}
	</update>
	<update id="updateClass">
		update point
			set
				po_mc_name = case
			    when po_accumulate_point >= 1000000 then "플래티넘"
			    when po_accumulate_point >= 500000 then "다이아몬드플러스"
			    when po_accumulate_point >= 100000 then "다이아몬드"
			    when po_accumulate_point >= 50000 then "골드"
			    when 50000 > po_accumulate_point then "실버"
				end
			where
				po_me_id = #{me_id};
	</update>
	<insert id="insertPoint">
		insert into point(po_me_id)
		values
			(#{me_id});
	</insert>
</mapper>
