<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.project.dao.ScheduleDAO">
	<resultMap type="kr.kh.project.vo.ScheduleVO" id="ScheduleVO">
		<id property="sk_num" column="sk_num"/>
		<result property="sk_ap_num" column="sk_ap_num"/>
		<result property="sk_ro_num" column="sk_ro_num"/>
		<result property="sk_start_time" column="sk_start_time"/>
		<result property="sk_time" column="sk_time"/>
		<result property="sk_price" column="sk_price"/>
    </resultMap>

	<select id="selectScheduleByRoute" resultType="kr.kh.project.vo.ScheduleVO">
		select
			schedule.*,
		    addtime(addtime(subtime(sk_start_time, ai_start.ai_standard_time), sk_time), ai_end.ai_standard_time) as sk_end_time,
		    ro_ai_start,
		    ai_start.ai_name as ai_start_name,
		    ro_ai_end,
		    ai_end.ai_name as ai_end_name,
		    ap_al_name
		from
			schedule
				join
			airplane on ap_num = sk_ap_num
				join
			route on sk_ro_num = ro_num
				join
			airport as ai_start on ai_start.ai_num = ro_ai_start
				join
			airport as ai_end on ai_end.ai_num = ro_ai_end
		where
			sk_ro_num = #{ro_num} and date_format(sk_start_time, '%Y-%m-%d') = date(#{startDate}) and sk_start_time >= now()
		order by
			sk_start_time asc
	</select>
	<select id="selectScheduleList" resultType="kr.kh.project.vo.ScheduleVO">
		select * from schedule
	</select>
	<delete id="deleteSchedule">
		delete from schedule where sk_num = #{sk_num}
	</delete>
	<insert id="insertSchedules">
	insert into schedule(sk_ap_num, sk_ro_num, sk_start_time, sk_time, sk_price)
	values (#{schedule.sk_ap_num}, #{schedule.sk_ro_num}, #{schedule.sk_start_time}, #{schedule.sk_time}, #{schedule.sk_price})
	</insert>

	<select id="getAirplaneSchedule" resultType="kr.kh.project.vo.ScheduleVO">
  	select
	    ap_num
	from
		airplane
			join
		airline on al_name = ap_al_name;
  </select>
</mapper>
