<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.project.dao.SeatDAO">
	<select id="selectSeatListBySchedule" resultType="kr.kh.project.vo.SeatVO">
		select
			se_num,
		    se_name,
		    se_sc_name,
		    sc_ratio,
		    tl_num,
			case
				when left(se_name, 1) = 'A' then 1
				when left(se_name, 1) = 'B' then 2
				when left(se_name, 1) = 'C' then 3
				when left(se_name, 1) = 'D' then 4
				when left(se_name, 1) = 'E' then 5
				when left(se_name, 1) = 'F' then 6
				when left(se_name, 1) = 'G' then 7
				when left(se_name, 1) = 'H' then 8
				when left(se_name, 1) = 'I' then 9
                else 0
			end as `row`,
            cast(right(se_name, 2) as UNSIGNED) as col
		from
			seat
				join
			seat_class on se_sc_name = sc_name
				join
			airplane_model on se_am_model = am_model
				join
			airplane on ap_am_model = am_model
				join
			schedule on sk_ap_num = ap_num
				left join
			ticketing_list on tl_se_num = se_num
		where
			sk_num = #{sk_num}
		order by
			se_num asc;
	</select>
</mapper>
