<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.project.dao.TicketingDAO">
	<select id="selectTicketingList" resultType="kr.kh.project.vo.TicketingVO">
		select 
			ticketing.*,
			(select ai_name from airport where ai_num = ro_ai_start) as ai_start_name,
			(select ai_name from airport where ai_num = ro_ai_end) as ai_end_name
		from 
			ticketing 
					join 
			schedule on ti_sk_num = sk_num
					join
			route on sk_ro_num = ro_num
		where 
			ti_me_id = #{me_id}
				and
			ti_state = case
				when #{ticketing} = 0 then ti_state
				when #{ticketing} = 1 then "확정"
				when #{ticketing} = 2 then "미확정"
				when #{ticketing} = 3 then "예매취소"
			end;
	</select>
	<select id="selectTicketingListBySearch" resultType="kr.kh.project.vo.TicketingVO">
		select * from ticketing
		<if test='cri.t == "all"'>
		where 
			ti_me_id like concat('%', #{cri.s}, '%')
				or
			ti_num like concat('%', #{cri.s}, '%')
		</if>
		<if test='cri.t == "second"'>
		where
			ti_me_id like concat('%', #{cri.s}, '%')
		</if>
		<if test='cri.t == "third"'>
		where
			ti_num like concat('%', #{cri.s}, '%')
		</if>
	</select>
	<insert id="insertTicketing">
		insert into 
		ticketing
			(ti_sk_num, ti_me_id, ti_amount, ti_total_price, ti_price, ti_save_point, ti_use_point)
		values
			(#{ticketing.ti_sk_num},#{ticketing.ti_me_id},#{ticketing.ti_amount},#{ticketing.ti_total_price},#{ticketing.ti_price},#{ticketing.ti_save_point},#{ticketing.ti_use_point})
	</insert>
	<select id="selectTicketing" resultType="kr.kh.project.vo.TicketingVO">
		select
			*
		from
			ticketing
		where
			ti_num = (
				select
					max(ti_num)
				from
					ticketing
				where
					ti_me_id = #{ti_me_id})
	</select>
	<delete id="deleteTicketing">
		delete from ticketing
		where
			ti_num = #{ti_num}
	</delete>
	<select id="findBonus" resultType="float">
		select
			mc_bonus_point
		from
			member_class
				join
			point on mc_name = po_mc_name
				join
			member on me_id = po_me_id
		where
			me_id = #{ti_me_id};
	</select>

	<!-- 예매내역조회 상태수정 -->
	<update id="updateTicketingState">
		update
			ticketing
		set
			ti_state = "예매취소"
		where
			ti_num = #{ticketing.ti_num}
				and
			ti_me_id = #{ticketing.ti_me_id}
	</update>
	<select id="selectTicketingByNum" resultType="kr.kh.project.vo.TicketingVO">
		select 
			ticketing.*,
		    (select ai_name from airport where ai_num = ro_ai_start) as ai_start_name,
		    (select ai_name from airport where ai_num = ro_ai_end) as ai_end_name
		from 
			ticketing 
					join 
			schedule on ti_sk_num = sk_num
					join
			route on sk_ro_num = ro_num
		where 
			ti_num = #{ti_num}
	</select>
</mapper>
